<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="public/css/saemanga.css" />
  </head>
  <body>
    <main>
      {{~> main }}
      {{> footer }}
    </main>
    <script src="public/js/saemanga.js"></script>
  </body>
</html>