<footer>
  <center class="wrapper">
    <p style="margin: 5px">
      &copy; 2019 saemanga.com. Dev by
      <a target="_blank" href="https://liby.me">Liby</a>.
      <a href="javascript:void(0)" ctrl="emitter" events="panel.help.open">帮助</a>
      &amp;
      <a href="javascript:void(0)" ctrl="emitter" events="panel.about.open">关于</a>
    </p>
  </center>
</footer>