[package]
name = "saemanga-rust"
version = "0.1.0"
authors = ["Liby Lee <liby99@icloud.com>"]
edition = "2018"

[dependencies]
rocket = "0.4.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
scraper = "0.10.0"
reqwest = "0.9.15"
encoding = "0.2"

[dependencies.rocket_contrib]
version = "*"
default-features = false
features = ["handlebars_templates", "mongodb_pool"]