{{#*inline "main"}}
  <h2>Test Password</h2>
  <form action="/admin/user/test_password" method="POST">
    <p>You can test the password for user {{username}}</p>
    <input style="display: none" name="id" value="{{id}}" />
    <input name="password" placeholder="Password" />
    <button type="submit">Submit</button>
  </form>
  <br />
  <a href="/admin">Back</a>
{{/inline}}

{{~> layout/admin title="Test Password"}}