{{#*inline "body"}}

<section class="wrapper">
  <h4>冴え漫画の始末</h4>
  <p>
    大一的时候写了这个网站，转眼自己要毕业了。觉得Rust很好玩于是用Rust重写了这个网站的4.0版本。感觉非常开心（一如既往）。Rust是个很厉害的语言。
    我在写的过程中重新架了一个Dev Env，前端用的是TypeScript然后后端用Rust/Rocket。架设的过程还是有蛮多心得的。大家有兴趣的话可以去看看
    <a target="_blank" href="https://github.com/liby99/saemanga-rust">源码</a>。强烈安利Rust。所有人都应该学习Rust。
    总之觉得这个网站的性能和稳定性提升应该会蛮大的呢。最近作为图源的网站<a target="_blank" href="http://cartoonmad.com">动漫狂</a>还真是动荡不安。
    经常突然接到同学信息说用不了了然后赶紧爬起床改代码。但是之后的话至少作为自己这边还是可以更稳定地做到这件事情的。希望大家能使用这个网站看漫画看得开心。
  </p>
  <p style="text-align: right">
    Liby, May 28th, 2019
  </p>
</section>
<section class="wrapper no-border">
  <h4>声明</h4>
  <p>
    漫画资源：本漫画网站所有资源取自<a target="_blank" href="http://cartoonmad.com">动漫狂</a>，一切汉化组资源，漫画网站资源与本人一概没有关系，
    漫画Credit自汉化组和漫画作者。网站的撰写用于学习和交流使用，严禁进行任何商业传播。
  </p>
</section>

{{/inline}}

{{~> layout/panel name="about" title="关于 冴え漫画" index="256"}}