{{#*inline "body"}}

<form id="migrate-form" action="/user/migrate?redir={{redir}}" method="post" ctrl="migrate">
  <p>
    冴え漫画更新到4.0版本了！在这个过程中，我们重置了用户的密码，并采取了更安全的加密措施。因为您是冴え漫画的老用户，需要您来重新设置一个密码！
  </p>
  <p>
    请在下方的输入框中输入您希望的新密码，我们将会自动为您完成登陆。在这之后，如果您想在其他设备上登陆的话，请重新按照正常途径使用用户名和密码登陆～
  </p>
  <p>
    你的用户名是：<span id="migrate-username"></span>
  </p>
  <input id="password-new" type="password" name="new_password" placeholder="新密码" required />
  <p>密码长度需要在8到32位，可以包含大小写字母，数字或"-", "_", ".", "#", "*", "@"</p>
  <button class="btn full solid rounded large" type="submit">重置密码</button>
</form>

{{/inline}}

{{~> layout/panel name="migrate" title="迁移账户信息" index="254" props="no-panel-mask-close no-close-button"}}