{{#*inline "body"}}

<span id="migrate-ctrl-container" ctrl="migrate"></span>

<form id="migrate-form" action="/user/migrate?redir={{redir}}" method="post">
  <p>
    哈哈哈哈哈哈
  </p>
</form>

{{/inline}}

{{~> layout/panel name="migrate" title="迁移账户信息" index="254" props="no-panel-mask-close"}}