<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h2>Test Removing Controller</h2>
    <p>Every time you click a button, it will try to remove that button.</p>
    <p>At the same time, each button is associated with a controller. That controller should be removed when the button is removed.</p>
    <p>What's even more is that each button has a dummy event listener. When you remove the button that listener should be unlistened too.</p>
    <button ctrl="rm-obj"></button>
    <button ctrl="rm-obj"></button>
    <button ctrl="rm-obj"></button>
    <button ctrl="rm-obj"></button>
    <button ctrl="rm-obj"></button>
    <button ctrl="rm-obj"></button>
    <button ctrl="rm-obj"></button>
    <button ctrl="rm-obj"></button>
    <script src="/js/tests.js"></script>
  </body>
</html>