<section id="index-header-section">
  <center>
    <h1>冴え漫画 の 書架</h1>
    <p style="margin-top: 0px;">
      <span>
        {{#if user}}
          <span>欢迎回来，</span>
          <a href="javascript:void(0);">{{user.display_name}}</a>
        {{else}}
          <span>欢迎光临，</span>
          <a href="javascript:void(0);" ctrl="emitter" events="login.focus">点此登录</a>
        {{/if}}
      </span>
    </p>
  </center>
</section>