<!DOCTYPE html>
<html>
  <head>
    <title>Saemanga Admin - {{title}}</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <nav>
      <strong>Saemanga - Admin (Test)</strong>
    </nav>
    <main>
      {{~> main}}
    </main>
    <script src="js/admin.js"></script>
  </body>
</html>