<!DOCTYPE html>
<html>
  <head>
    <title>Saemanga Admin - {{title}}</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <nav>
      <div>
        <strong>Saemanga - Admin (Test)</strong>
      </div>
      {{#if admin_username}}
        <div>
          <span>Welcome back, Admin {{admin_username}}</span>
          <a href="/logout?redir=%2Fadmin" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
        </div>
      {{/if}}
    </nav>
    <main>
      {{~> main}}
    </main>
    <script src="/js/admin.js"></script>
  </body>
</html>