<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body class="{{#if setting.is_left_hand_mode}}left{{/if}} {{#if setting.is_night_mode}}night{{/if}}" ctrl="body">
  {{> (sidebar)}}
  <main ctrl="main" style="max-width: {{setting.main_width}}px">
    {{~> main}}
    {{> partials/footer}}
  </main>
  {{> partials/panels}}
  {{~> panels}}
  <script src="/js/index.js"></script>
</body>

</html>