<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  {{> (sidebar)}}
  <main>
    {{~> page}}
    {{> partials/footer}}
  </main>
  {{> partials/panels}}
  {{~> panels}}
  <script src="js/main.js"></script>
</body>

</html>