* {
  font-family: 'Menlo', Courier, monospace;
}

body {
  margin: 0;
  font-size: 12px;
}

nav {
  line-height: 45px;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
  padding: 15px;
}

td, th {
  padding: 0 10px;
}