<!DOCTYPE html>
<html>

<head>
  <title>Saemanga - Error {{code}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <center class="wrapper" style="margin-top: 120px">
    <h2>
      ₍₍ (̨̡ ‾᷄ᗣ‾᷅ )̧̢ ₎₎
    </h2>
    <h3 style="margin-top: 25px">
      Error {{code}}： {{msg}}
    </h3>
    <p>
      <a href="{{back}}">Back</a>
    </p>
  </center>
</body>

</html>