{{#*inline "main"}}
  <h2>Change Password</h2>
  <form action="/admin/user/change_password" method="POST">
    <p>You can change the password for user {{username}}</p>
    <input style="display: none" name="id" value="{{id}}" />
    <input name="new_password" placeholder="New Password" />
    <button type="submit">Submit</button>
  </form>
  <a href="/admin">Back</a>
{{/inline}}

{{~> layout/admin title="Change Password"}}