<!DOCTYPE html>
<html>
  <head>
    <title>Saemanga - Admin / Error {{code}}</title>
  </head>
  <body>
    <main style="text-align: center">
      <p>Error {{code}}: {{msg}}</p>
      <a href="/admin">Go Back</a>
    </main>
  </body>
</html>