{{#*inline "main"}}
  <h2>Test Password Result</h2>
  <p>Result: {{#if passed}}PASS{{else}}FAIL{{/if}}</p>
  <a href="/admin/user/test_password/{{id}}">Back</a>
{{/inline}}

{{~> layout/admin title="Test Password"}}