<section id="manga-body-section" class="no-border" style="padding-top: 15px" ctrl="anchorer">
  {{#each episode.pages}}
    <img
      class="manga-image"
      src="{{this}}"
      alt="若图片无法正常显示，请点击右上角的菜单 > 关于该漫画 > 请求更新"
    />
  {{/each}}
</section>