<section id="manga-header-section">
  <center class="wrapper">
    <h1>- {{manga.title}} -</h1>
    <p style="margin-top: 0px">
      第 {{episode.episode}} {{#if episode.is_book}}卷{{else}}话{{/if}}
    </p>
  </center>
</section>