<section id="manga-navigation-section" class="flex" style="padding: 15px 0">
  {{> partials/manga/prev_episode}}
  <a href="/index" class="black center flex-fill">
    返回我的书架
  </a>
  {{> partials/manga/next_episode}}
</section>